# ENV files
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
build/
.npm/
.cache/
.vite/

# OS trash
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/

# Backend
bot/__pycache__/
backend/__pycache__/

# Docker
*.pid

